<header class="header">
  <div class="header-left">
    <button class="menu-toggle" (click)="toggleSidebar.emit()">
      <i class="pi pi-bars"></i>
    </button>
    <div class="search-container">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Search..." class="search-input" />
    </div>
  </div>
  
  <div class="header-right">
    <button class="icon-button">
      <i class="pi pi-bell"></i>
      <span class="notification-badge">3</span>
    </button>
    
    <div class="user-menu">
      <button class="user-button" (click)="menu.toggle($event)">
        <p-avatar 
          [label]="userInitials" 
          shape="circle" 
          size="normal"
          styleClass="user-avatar"
        />
        <span class="user-name">{{ userName }}</span>
        <i class="pi pi-chevron-down"></i>
      </button>
      
      <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
    </div>
  </div>
</header>

